<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586025231372-37gm6pcd7rqdjldn6rndg7tl8k6j9kke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586025231372-37gm6pcd7rqdjldn6rndg7tl8k6j9kke</string>
	<key>API_KEY</key>
	<string>AIzaSyB79-tu6Q3Dc-vjXp4JHJlNhJq17fXHdpA</string>
	<key>GCM_SENDER_ID</key>
	<string>586025231372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.ufpe.br.AuTime</string>
	<key>PROJECT_ID</key>
	<string>autime-6f7db</string>
	<key>STORAGE_BUCKET</key>
	<string>autime-6f7db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586025231372:ios:ea99c08961d16d8802ba29</string>
</dict>
</plist>